<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>username : {{ user.username }}</h3>
    <h3>balance : {{ user.balance }}</h3>
    <ul>
      {% for portfolio in portfoliolist %}
        <li><a href="{% url 'stocks-portfoliostock' id=portfolio.id %}"> {{ portfolio.name }}</a></li>
      {% endfor %}
    </ul>
    <form action="" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
